/* General styles */
body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-weight: bold;
    color: #333;
  }
  
  .treatment-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .treatment-title {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .treatment-title:hover {
    text-decoration: underline;
  }
  
  .text-muted {
    color: #666;
  }
  